body {
   
    margin:0;
    padding:0;
    background-color: rgb(226, 226, 221);
    width:100vw;
    font-size: 1.5vh;
}

.nav {
    background-color: #a31313;
    display:flex;
    position: relative;
    padding: 5px 5px;
    overflow: hidden;
    width: 100vw;
}

.nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: bold;
}

.nav a:hover {
    text-shadow: 0 0 3px #d5d1df , 0 0 5px #ffffff;
   
}

.nav a.active {
    background-color: black;
    color: white;
}

.logo {
    font-size: 1.75em;
    font-weight: bolder;
    font-family:  'Aleo', serif;
    letter-spacing: 0.05em;
}

.categories {
    font-size: 1em;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;

}

.nav input[type="text"] {
    border: none;
    background: rgb(255, 255, 255, 0.8);
    outline: none;
    height: 30px;
    width: 250px;
    color: rgb(255, 6, 6);
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    right: 10%;
    display: block;
    margin-left: auto;
    border-radius: 1em;
    margin-top: 10px;
    cursor: text;
    margin-right: 2%;
}

.nav input[type="text"]:focus {
    width: 400px;
    border-radius: yellow;
}

input[type=button] {
    background-color: rgb(20, 19, 19);
    border: none;
    width: 17%;
    color: white;
    font-weight: bold;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    
    
}



.topic-container {
    top:2.5vh;
    position:relative;
    display:flex;
    align-self: center;
    flex-direction: column;
    
    align-items:flex-start;
    background-color: white;
    left:22vw;
    
    
    height: auto;
    width:55vw;
    margin:0 ;
    border-radius: .6em;
}

.topic-container h1{
    text-align: left;
    font-family:'Raleway';
    font-weight: 600;
    margin-left: 3vw;
    margin-bottom: 3vh;
    margin-top: 4vh;
    
    font-size: 2.7em;
}

.topic-img{
    position: relative;
    align-self:center;
    height: 35vh;
    width: 90%;
    background-color: #a31313;
    overflow: hidden;
    margin:vh .75vw;
    border-radius: .9em;
}
.topic-img img{
    display: inline-block;
    position: relative;
    object-fit:cover;
    height: 100%;
    width:100%;
}


li{
    position: relative;
    right:.5vw;
    align-items:center;
    list-style-type:none;
    width:98%;
    border-radius: 1vw;
}

.row1{
    position:relative;
    left:1.02vw;
    padding: 1.6vh 0 1.6vh 0;
}

.row1 input{
    background-color: transparent;
    font-family: Cascadia Mono;
    color: rgb(37, 37, 37);
    border-radius: .5em;
    font-weight: 400;
    margin-top: -.5vh;
    margin-bottom: .5vh;
    padding: 0.1em;
}

.row1 input:hover{
    background-color:rgb(197, 73, 73);
    color: #ffffff;
    font-weight: 800;
    transition: 0.5s;
}

.topic-result{
    position: relative;
    align-self: center;
    width: 90%;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(236, 234, 229) ;
    border-radius: 1em;
}

.topic-result h3{
    position: relative;
    font-family: 'Raleway';
    margin:3vh 2vw 1vh 2vw;
    font-size: 1.6em;
}



.topic-des {
    
    position: relative;
    align-self: center;
    width: 82%;
    margin: .75vh .75vw;
    font-family:'Raleway';
    font-size: 1.5em;
    background-color:rgb(236, 234, 229) ;
    border-radius: 1em;
    padding:2vh 2vw;
    font-weight: 500;
    
}

.comments{
    position: relative;
    align-self: center;
    width:90%;
    height: 30vh;
    margin-top: 1vh;
    border-radius: 1em;
    
    display: flex;
    flex-direction: column;
}

.comments h3{
    position: relative;
    top:.5vh;
    font-family: 'Raleway';
    left:2vw;
    font-size:1.6em;
}

.comments-input{
    position: relative;
    left:3%;
    top:2%;
    width:100%;
    height: 40%;
}

.comments-input textarea{
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    resize:vertical;
    background: rgb(250, 249, 248);
    border: 1px solid lightgrey;
    border-radius:.2em ;
    outline: none;
    font-family: 'Archivo';
    padding: 1em;
    font-size: 1.3em;
}

.comments-input textarea:focus{
    border-color: brown;
    transition: 0.5s;

}

.post{
    position: relative;
    top:5%;
    left:81%;
    height: 29%;
    width:13%;
    background: brown;
    border:none;
    border-radius: .3em;
    font-size: medium;
    font-family: 'Cascadia Mono';
    color: aliceblue;
}

.progress{
    position: relative;
    background-color: rgb(199, 188, 188);
    width:90%;
    height: 3.5vh;
    border-radius: .75em;
    overflow:hidden;
}

.progress-fill{
    background-color: rgb(27, 139, 96);
    height: 100%;
    width:0%;
    transition:all .9s;
}

.progress-text{
    position:absolute ;
    top:50%;
    right:5%;
    transform: translateY(-50%);
    font-family:'Archivo',sans-serif;
    font-weight: 600;
}

