body {
   
    margin:0;
    padding:0;
    background-color: #F0F2F5;
    width:100vw;
    font-size: 1.5vh;
}

body .topic-container{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.topic-container .comment{
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.nav {
    background-color: #bd0a0a;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: bold;
}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav a.active {
    background-color: black;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Aleo';
}

.categories {
    font-size: 1em;
    font-family: Cascadia Mono;
    padding-top: 0.4%;
}

.nav input[type="text"] {
    border: none;
    background: rgb(255, 255, 255, 0.8);
    outline: none;
    height: 30px;
    width: 250px;
    color: rgb(255, 6, 6);
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    right: 10%;
    display: block;
    margin-left: auto;
    border-radius: 1em;
    margin-top: 10px;
    cursor: text;
    margin-right: 2%;
}

.nav input[type="text"]:focus {
    width: 400px;
    border-radius: yellow;
}

input[type=button] {
    background-color: rgb(20, 19, 19);
    border: none;
    width: fit-content;
    color: white;
    font-weight: bold;
    border-radius: .5em;
    font-size: 1.1em;
    cursor: pointer;
    
    
}



.topic-container {
    top: 9.5vh;
    position: relative;
    padding-bottom: 5vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    left: 22vw;
    height: fit-content;
    width: 41.6vw;
    margin: 0;
    border-radius: 0.6em;
}

.topic-container h1{
    text-align: left;
    font-family: 'Archivo';
    font-weight: 600;
    margin:6vh 3vw;
    font-size: 2.7em;
}

.topic-img{
    position: relative;
    align-self:center;
    height: 35vh;
    width: 90%;
    background-color: #a31313;
    overflow: hidden;
    margin:vh .75vw;
    border-radius: .9em;
}
.topic-img img{
    display: inline-block;
    position: relative;
    object-fit:cover;
    height: 100%;
    width:100%;
}


li{
    position: relative;
    right:.5vw;
    align-items:center;
    list-style-type:none;
    width:98%;
    border-radius: 1vw;
}

.row1{
    position:relative;
    left:1.02vw;
    padding: 1.6vh 0 1.6vh 0;
}

.row1 input{
    background-color: transparent;
    font-family: Cascadia Mono;
    color: rgb(37, 37, 37);
    border-radius: .5em;
    font-weight: 400;
    margin-top: -.5vh;
    margin-bottom: .5vh;
    padding: 0.3em;
}

.row1 input:hover{
    background-color:rgb(185, 185, 185);;
    color: rgb(37, 37, 37);
    font-weight: 800;
    transition: 0.5s;
}

.topic-result{
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: center;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgb(236, 234, 229); */
    border-radius: 1em;
    margin-top: 0.5em;
}

.topic-result h3{
    position: relative;
    font-family: 'Raleway';
    margin:3vh 2vw 1vh 2vw;
    font-size: 1.6em;
    
}



.topic-des {
    
    position: relative;
    align-self: end;
    width: 75%;
    margin: 0.75vh 0.75vw;
    font-family: ui-sans-serif;
    font-size: 1.1em;
    background-color: #f3f3f3;
    border-radius: 1em;
    padding: 1vh 1.2vw;
    font-weight: 500;
    
}

.topic-bar{
    position: relative;
    background-color: #f3f3f3;
    width: 50%;
    height: fit-content;
    margin: 1.5%;
    padding: 3.75% 4.5%;
    border-radius: 0.9em;


}

.post{
    position: relative;
    top: 3%;
    left: 83%;
    height: 2em;
    width: 13%;
    background: brown;
    border: none;
    border-radius: 0.75em;
    font-size: 1.1em;
    font-family: 'Cascadia Mono';
    font-weight: bold;
    color: aliceblue;
}

.progress{
    position: relative;
    background-color: rgb(199, 188, 188);
    width:90%;
    height: 3.5vh;
    border-radius: .75em;
    overflow:hidden;
}

.progress-fill{
    background-color: rgb(27, 139, 96);
    height: 100%;
    width:0%;
    transition:all .9s;
}

.progress-text{
    position:absolute ;
    top:50%;
    right:5%;
    transform: translateY(-50%);
    font-family:'Archivo',sans-serif;
    font-weight: 600;
}

.comment-section{
    position: relative;
    align-self: center;
    width: 90%;
    height: fit-content;
    margin-top: 1vh;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.comment-section h3{
    position: relative;
    top:.5vh;
    font-family: 'Raleway';
    left:2vw;
    font-size:1.6em;
}

.comments-input{
    display: block;
    position: relative;
    left:3%;
    top:2%;
    width:100%;
    height:fit-content;
    
}

.comments-input textarea{
    display: block;
    position: relative;
    width: 90%;
    resize: none;
    background: rgb(243 243 243);
    border: 2px solid transparent;
    border-radius: 1.1em;
    outline: none;
    height: fit-content;
    font-family: 'Archivo';
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.2;
}

.comments-input textarea:focus{
    border-color:rgb(199, 188, 188);
    transition: 0.5s;

}

.comments{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 41.2em;
    left: 4%;
    top: 4vh;
    height: fit-content;
}

.comment{
    position: relative;
    background: #F0F2F5;
    max-width:fit-content;
    width:82%;
    max-height: fit-content;
    border-radius: 1em;
    margin:1vh;
    text-align: left;
    padding: .7em 1.2em;
    font-family: ui-sans-serif;
    font-weight: 500;
    font-size:large;
    transition: all .5s;
}

.comment p{
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.comment a{
    font-weight: 600;
}