body{
    background:linear-gradient(120deg,rgb(234, 234, 236),rgb(247, 238, 215));

}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


form {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a{
    position: relative;
    top:3vh;
    left:4vh;
    text-decoration: none;
    color: rgb(122, 121, 121);
    font-family: 'Archivo';
    font-size: larger;
    transition: all 0.3s;
}

form a{
    top: 1vh;
    left: 12vh;
    font-family: 'Archivo';
    font-size: medium;
}

a:hover{
    color: brown;
}

body .head{
    position: absolute;
    align-self: center;
    margin: 22vh;
    left: 4vw; 
    width: 20vw;
    color: brown;
    height: 30vh;
}

.head h1{
    position: relative;
    font-size: 8em;
    font-family: 'Aleo';
    text-shadow: 0 0 #a09f9f;
    
}

.head h1:hover{
    text-shadow: 0 0 3px #dadada , 0 0 5px #af2732;
    transition: .5s;
}

.head label{
    position: relative;
    top: 40%;
    font-family: 'Montserrat';
    font-size: 1.5em;


}


body .container{
    position: relative;
    left: 63%;
    /* background-color: #af2732; */
    width: 18vw;
    /* bottom: 40%; */
    margin-top: 6%;
    
    
   
}

 h1{
    text-align: center;
}

 form{
    box-sizing: border-box;
    position: relative;
    left: 60%;
    margin-top: 6%;
    width: 27vw;
    background: rgb(237 215 215 / 23%);
    border-radius: 1.2em;
    padding: 2.2%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
-moz-box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
 }

form .form-control{
    position: relative;
    margin:1vh 0;
    width:100%;
    padding:0 0 1vh 0;
    border:none;
    border-bottom: 2px solid brown;
    background: none;
    outline: none;
    font-family: 'Archivo';
}

form .form-control:focus{
    border-color: brown;
    transition: .5s;

}

form a:hover{
    color: brown;
}

.form-control input{
   
    background:none;
}


.form-group {
    position: relative;
    /* margin-bottom: 1vh; */
    margin: 1vh 2vw;
    outline: 0px;
    
}




.form-control-label {
    font-family:'Montserrat';
    font-size:1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    color: brown    ;
}

.btn{
    position: relative;
    background: none;
    padding: 2px 1px;
    left: 7vw;
    /* justify-self: center; */
    font-family: 'Montserrat';
    color: brown;
    font-weight: bold;
    font-size: 1em;
    width: 6vw;
    height: 4vh;
    border: 2px solid;
    border-radius: 0.7em;
    border-color: brown;
}

.btn:hover{
    background: brown;
    color: white;
    transition: .6s;
}

.register a {
    position: relative;
    left:6%;
    font-size: medium;
    font-family: 'Cascadia Mono';
}

.register a:hover{
    color: brown;
}